.contact-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.contact-container::after {
    content: "";
    clear: both;
    display: table;       
}