.header {
    display: flex;
    height: 5vh;
    width: 100%;
    align-items: center;
    padding-top: .5rem;
    padding-left: 22rem;
}

.header::after {
    content: "";
        clear: both;
        display: table;       
}