.header {
    display: flex;
    height: 5vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: .5rem 0 0 0;
}

.header::after {
    content: "";
        clear: both;
        display: table;       
}