.profile-picture-container {
    height: auto;
    text-align: center;
    padding-top: .5rem;
}

.profile-picture-container::after {
    content: "";
    clear: both;
    display: table;       
}

.profile-picture {
    height: auto;
    width: 15%;
    border-radius: 50%;
}

.about-details {
    margin: 1rem 11rem;
    justify-content: center;
}

.about-details::after {
    content: "";
    clear: both;
    display: table;       
}

.about-link {
    text-decoration: none;
    color: #0D0D0D;
    font-weight: 700;
}

.about-link:hover {
    border-bottom: .1rem solid #0D0D0D;
}

@media screen and (max-width: 1020px) {
    .profile-picture-container {
        height: auto;
        text-align: center;
        padding-top: 2rem;
    }
    
    .profile-picture-container::after {
        content: "";
        clear: both;
        display: table;       
    }
    
    .about-details {
        margin: 1rem 11rem;
        justify-content: center;
    }
    
    .about-details::after {
        content: "";
        clear: both;
        display: table;       
    }
    
}

@media screen and (max-width: 680px) {
    .profile-picture-container {
        height: auto;
        text-align: center;
        padding-top: 2rem;
    }
    
    .profile-picture-container::after {
        content: "";
        clear: both;
        display: table;       
    }
    
    .profile-picture {
        height: auto;
        width: 30%;
        border-radius: 50%;
    }
    
    .about-details {
        margin: 2rem 5rem;
        justify-content: center;
    }
    
    .about-details::after {
        content: "";
        clear: both;
        display: table;       
    }
    
}

@media screen and (max-width: 595px) {
    .profile-picture-container {
        height: auto;
        text-align: center;
        padding-top: 2rem;
    }
    
    .profile-picture-container::after {
        content: "";
        clear: both;
        display: table;       
    }
    
    .profile-picture {
        height: auto;
        width: 40%;
        border-radius: 50%;
    }
    
    .about-details {
        margin: 2rem;
        justify-content: center;
    }
    
    .about-details::after {
        content: "";
        clear: both;
        display: table;       
    }
}

@media screen and (max-width: 420px) {
    .profile-picture-container {
        height: auto;
        text-align: center;
        padding-top: 2rem;
    }
    
    .profile-picture-container::after {
        content: "";
        clear: both;
        display: table;       
    }
    
    .profile-picture {
        height: auto;
        width: 45%;
    }
    
    .about-details {
        margin: 2rem;
        justify-content: center;
    }
    
    .about-details::after {
        content: "";
        clear: both;
        display: table;       
    }   
}