.footer {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 1rem 0;
    background-color: tomato;
}