.skill-set {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 11rem;
    height: auto;
}

.skill {
    padding: 0 1rem
}

@media screen and (max-width: 680px) {
    .skill-set {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 11rem;
        height: auto;
    }
    
    .skill {
        padding: 1rem 0;
    }
}