.project-card {
    max-height: 50rem;
    max-width: 50rem;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    margin: 1rem 2rem;
    background-color: #0D0D0D;
}

@media screen and (max-width: 595px) {
    .project-card {
        height: 50%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        margin: 1rem 0;
    }

    .project-card:last-child {
        margin-bottom: 5.5rem;
    }    
}