.profile-picture-container {
    height: auto;
    text-align: center;
    padding: 2rem 0 0 0;
}

.profile-picture-container::after {
    content: "";
    clear: both;
    display: table;       
}

.profile-picture {
    height: 10%;
    width: 20%;
    border-radius: 50%;
}


.about-details {
    display: flex;
}

.about-details-paragraph {
    width: 100%;
}