.about-details {
    height: auto;
    margin: 2rem 11rem;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    overflow: hidden;
}

.about-details::after {
    content: "";
    clear: both;
    display: table;       
}