.navbar {
    display: flex;
    background-color: blueviolet;
    height: 5vh;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
}

.navbar__nav-link {
    text-decoration: none;
    padding: 0 1rem;
    color: black;
}