.navbar {
    display: flex;
    height: 5%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.navbar__nav-link {
    text-decoration: none;
    padding: 0 1rem;
    color: black;
}