.header {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    overflow: hidden;
}

.header::after {
    content: "";
        clear: both;
        display: table;       
}