.header {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    overflow: hidden;
}

.header::after {
    content: "";
        clear: both;
        display: table;       
}