.image-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.project-image {
    height: 25rem;
    width: 50rem;
}

.project-details {
    margin: 1rem;
}

.project-paragraph {
    padding: 1rem;
    text-align: left;
    font-style: .5rem;
}

.project-paragraph-link-container {
    padding: 1rem 0;
}

.project-paragraph-link {
    text-align: center;
    font-weight: 700;
}

.project-paragraph-link > a {
    text-decoration: none;
    color: #0D0D0D;
}

.project-paragraph-link > a:hover {
    border-bottom: .1rem solid #0D0D0D;
}

@media screen and (max-width: 595px) {
    .project-paragraph,
    .project-paragraph-link {
        font-size: .5rem;
        line-height: 1.5rem;
    }
}