.footer {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 1rem 0;
    background-color: #BFBFBF;
}

.footer-icon {
    height: 2.5rem;
    color: #0D0D0D;
}