.project-container {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.project-container::after {
    content: "";
    clear: both;
    display: table;       
}